* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  /*   font-family: "Montserrat", sans-serif;
  font-family: "Staatliches", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Staatliches", cursive; */
}

body {
  background-color: rgb(46, 46, 46);
}

.header {
  width: 60%;
  height: 200px;
  border: 3px rgb(201, 201, 201) solid;
  margin: 40px auto;
}

.header__div1 {
  height: 10px;
  width: 100%;
  margin: auto;
  background-color: #4d6d63;
  margin-top: 15px;
  clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
}

.header__div2 {
  display: flex;
  border: 2px gold solid;
}

.header_h1 {
  color: white;
  margin: auto;

  padding: 10px;
}

.header__div3 {
  height: 10px;
  width: 100%;
  /* margin: auto; */
  background-color: #4d6d63;
  /*   margin-top: 15px;
 */
  clip-path: polygon(2% 1%, 98% 0, 100% 100%, 0 100%);
}
